.constructor__input input{
    border: 1px solid #fff;
    line-height: 60px;
    padding-left: 15px;
    color: #6b93aa;
    background-color: #f3f6f8;
    width: 100%;
    font-size: 14px;
}

.constructor{
    border: 3px solid #0c59db;
}

.constructor__subtitle{
    font-size: 24px;
    color: #002249;
}

.constructor__form{
    position: relative;
}

.constructor__step:not(.active){
    opacity: 0;
}

.select-box .nice-select{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.select-box .nice-select .list{
    width: 100%;
}

.constructor__step.hidden{
    display: none;
    opacity: 0;
}

.constructor__btn .main-btn{
    border-radius: 0;
}

.constructor__btn .main-btn:hover{
    border-color: #0c59db;
    color: #0c59db;
}

.types-choose .user-type{
    width: 100%;
    height: 100%;
    position: relative;
}

.types-choose .empowered-type{
    width: 100%;
    height: 100%;
    position: relative;
}
.types-choose .empowered-type::before{
    position: absolute;
    content: '';
    display: block;
    left: 0;
    background-image: url(../images/left.svg);
}
.types-choose .nice-select{
    width: 100%;
}

.swap{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.swap img{
    max-height: 42px;
}

.types-choose__title{
    color: #333333;
}

.constructor__subtitle--mini{
    font-size: 20px;
}

.second-step .doc-data{
    display: none;
}